@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import "http://netdna.bootstrapcdn.com/font-awesome/2.0/css/font-awesome.css";



html {
	height: 100%;
	position: relative
}

body {
	background-color: white;
	font-family: 'Open Sans', sans-serif;
}

.chatWindow {
	border: 3px solid #613e75;
	width: 400px;
	height: 600px;
	margin-left: 20px;
	margin-right: 0px;
	box-shadow: rgba(24,26,26,1);
	background-color: white;
	position: relative;
}

.newform {
	width: 400px;
	height: 573px;
	float: left;
	display: block;
	text-align: center;
}

.top {
	display: block;
	height: 30px;
	width: 400px;
	background-color: #613e75;
	text-align: center;
}

.dropdownList {
	display: block;
	height: 30px;
	width: 400px;
	border-bottom: 1px solid grey;
}

.dropdownList p {
	margin: 5px;
	width: 30px;
	height: 30px;
	font-size: 95%;
	float: left;
}
.form {
	display: block;
	width: 400px;
	height: 573px;
	float: left;
}
.dropdownList select {
	float: left;
	height: 30px;
	width: 352px;
	background-color: transparent;
	font-family: 'Open Sans', sans-serif;
	border: none;
}


.top a .tools {
	padding-top: 9px;
	padding-right: 10px;
	color: white;
	float: right;
	font-size: 90%;
}

.title {
	color: white;
	float: left;
	font-size: 90%;
	margin: 5px;
}

.conversation {
	background-color: white;
	padding: 3px 5px 3px 5px;
	width: 390px;
	height: 480px;
	overflow: auto;
	position: relative;
}

.bottom {
	display: block;
	height: 40px;
	width: 400px;
	text-align: center;
	position: relative;
	margin-right: 0px;
	border-top: 2px solid rgba(43, 43, 43, .2);
}

.form form .bottom input[type="text"] {
	padding: 3px 3px 1px 3px;
	width: 340px;
	height: 35px;
	float: left;
	background-color: transparent;
	font-size: 15px;
	font-weight:400;
	color: rgba(38, 38, 38, 1.);
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
	border: 0px;
	position: relative;
	word-wrap: break-word;

	-webkit-input-placeholder {
		color: rgba(255, 255, 255, 0.2)
	}

	:-moz-placeholder {
		color: rgba(255, 255, 255, 0.2)
	}

	:-moz-placeholder {
		color: rgba(255, 255, 255, 0.2)
	}

	:-ms-input-placeholder {
		color: rgba(255, 255, 255, 0.2)
	}

}


.form form .newLikeButton {
	padding-right: 5px;
	padding-top: 4px;
	font-size: 220%;
	display: block;
	height: 30px;
	width: 30px;
	position: relative;
	float: left;
	margin-left: 10px;
}