@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import "http://netdna.bootstrapcdn.com/font-awesome/2.0/css/font-awesome.css";


html {
	height: 100%;
	position: relative
}

body {
	background-color: white;
	font-family: 'Open Sans', sans-serif;
}



.chat {
  border: 3px solid #613e75;
  width: 400px;
  height: 600px;
  margin-left: 20px;
  margin-right: 0px;
  box-shadow: rgba(24,26,26,1);
  background-color: white;
  position: relative;
}

.chat .topBar {
	display: block;
	height: 30px;
	width: 400px;
	background-color: #613e75;
	text-align: center;
}

.chat .topBar .tools {
	padding-top: 9px;
	padding-right: 10px;
	color: white;
	float: right;
	font-size: 90%;
}

.chat .topBar .online {
	color: #7fd16e;
	float: left;
	font-size: 80%;
	border: 0px;
	float: left;
	padding-top: 10px;
	padding-left: 4px;
}

.chat .topBar .name {
	color: white;
	float: left;
	font-size: 90%;
	margin: 5px;
}

.chatMessages {
	background-color: white;
	padding: 3px 5px 3px 5px;
	width: 390px;
	height: 522px;
	overflow: scroll;
	position: relative;
}

div .reply .avatar img {
	height: 46px;
	width: 46px;
	border-radius: 50%; 
}

div .me ul,
div .reply ul {
	list-style: none;
	margin: 0px;
	padding: 0px 6px 0px 0px;
}


.chatMessages p.date {
	color:grey;
	text-align: center;
	height: 10px;
	font-size: 80%;
}


div.me {
	width: 390px;
	display: inline-block;
	position: relative;
}

li.myMessage {
	color: black;
	background-color: #f0edf2;
	float: right;
	display: table;
	width: auto;
	clear: both;
	padding: 12px 14px;
	border-radius: 30px;
	margin-bottom: 2px;

}

div.reply {
	width: 390px;
	display: inline-block;
	position: relative;
}

div.reply ul {
	display: table;
}

li.reMessage {
	color: white;
	background-color: #613e75;
	float: left;
	display: table;
	clear: both;
	padding: 12px 14px;
	border-radius: 30px;
	margin-bottom: 2px;
	width: auto;
}

div.reply .avatar {
	padding-right: 7px;
	float: left;
}


.reply + .myMessage{
	border-bottom-right-radius: 5px;
}

.myMessage + .myMessage{
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

.myMessage:last-of-type {
	border-bottom-right-radius: 30px;
}


.bottom {
	display: block;
	height: 40px;
	width: 400px;
	text-align: center;
	position: relative;
	margin-right: 0px;
	border-top: 2px solid rgba(43, 43, 43, .2);
}

.bottom input[type="text"] {
	padding: 3px 3px 1px 3px;
	width: 340px;
	height: 35px;
	float: left;
	background-color: transparent;
	font-size: 15px;
	font-weight:400;
	color: rgba(38, 38, 38, 1.);
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
	border: 0px;
	position: relative;
	word-wrap: break-word;

	-webkit-input-placeholder {
	color: rgba(255, 255, 255, 0.2)
	}

	:-moz-placeholder {
	color: rgba(255, 255, 255, 0.2)
	}

	:-moz-placeholder {
	color: rgba(255, 255, 255, 0.2)
	}

	:-ms-input-placeholder {
	color: rgba(255, 255, 255, 0.2)
	}
}


.likeButton {
	padding-right: 5px;
	padding-top: 4px;
	font-size: 220%;
	display: block;
	height: 30px;
	width: 30px;
	position: relative;
	float: left;
	margin-left: 10px;
}

.like {
	font-size: 220%;
	display: block;
	height: 30px;
	width: 30px;
	position: relative;
	color: #613e75;
}