@import url('http://fonts.googleapis.com/css?family=Open+Sans&subset=latin,latin-ext');
@import "http://netdna.bootstrapcdn.com/font-awesome/2.0/css/font-awesome.css";



html {
  height: 100%;
  position: relative
}

body {
  background-color: white;
  font-family: 'Open Sans', sans-serif;
}



h1{
  margin-bottom:50px;
}
h1 {
  font: 300 3.2em/1.2 'Open Sans', sans-serif;
  color: white;
  margin: 0
}

.messengerApp {
  border: 2px solid white;
  width: 400px;
  height: 700px;
  margin-left: 20px;
  padding: 5px 5px;
  box-shadow: rgba(24,26,26,1);
  background-color: #613e75;
  position: relative;
}

.searchContacts{
  display: block;
  margin: 0 auto;
  text-align: center;
}

#searchForm {
  width: 100%;
}


p.searchInput input[type="text"] {
  padding: 3px 5px 3px 35px;
  width: 337px;
  height: 30px;
  background-color: transparent;
  font-size: 15px;
  font-weight:400;
  color: white;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  border-color: white;
  border-radius: 8px;
  position: relative;
  word-wrap: break-word;

  -webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.2)
  }

  :-moz-placeholder {
    color: rgba(255, 255, 255, 0.2)
  }

  :-moz-placeholder {
    color: rgba(255, 255, 255, 0.2)
  }

  :-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.2)
  }
  
}


.errspan {
  float: left;
  margin-left: 20px;
  margin-top: -25px;
  position: relative;
  z-index: 1;
  color: white;
}

.menu {
  display: block;
  text-align: center;
  width: 400px;
  height: 55px;
}

.menu ul {
  list-style-type: none;
  padding: 0px 0px;
  height: 45px;
  width: 100%;
  margin-bottom: 0px;
  margin-top: 0px;
}

.menu ul li {
  display: block;
  float: left;
  cursor: pointer;
  width: 25%;
  height: 45px;

}

.icon {
  color: white;
  text-shadow: 0 1px 0 rgba(0,0,0,0.2);
  border:0;
  background-color: transparent;
  font-size: 2em;
}


.calls:hover ~ hr {
  margin-left: 25%;
}

.groups:hover ~ hr {
  margin-left: 50%;
}

.contacts:hover ~ hr {
  margin-left: 75%;
}

hr {
  height: .20rem;
  width: 25%;
  margin: 0;
  background: white;
  border: none;
  transition: .3s ease-in-out;
  clear:both;
/*  -webkit-transition: .3s ease-in-out;
  -moz-transition:all .3s ease-in-out;
  -ms-transition:all .3s ease-in-out;*/
  
}

.messagesList {
  background-color: white;
  padding: 3px 5px 3px 5px;
  width: 390px;
  height: 550px;
  overflow: scroll;
  position: relative;
}

.messagesList ul {
  list-style-type: none;
  padding: 0px 5px;
  position: relative;
}

.messagesList ul li {
  display: block;
  position: relative;
  height: 80px;
  width:380px;
  overflow: hidden;
}

img {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  float: left;
  overflow: hidden;
}

.textMessage {
  display: block;
  float: left;
  padding-top: 10px;
  padding-left: 7px;
  width: 218px;
  height: 75px;
  overflow: hidden;
}

.textMessage p {
  margin: 0px;
  width: 100%;
  height: 30px;
  line-height: normal;
}

.textMessage p.text {
  color:#a6a8ad;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1; /* number of lines to show */
  -moz-box-orient: vertical;
  -moz-line-clamp: 1;
  line-height: 2;        /* fallback */
  max-height: 2;       

}

.messageDetails {
  display: block;
  float: left;
  width: 80px;
  height: 75px;
  padding-top: 10px;
  padding-right: 1px;
  text-align: center;
  overflow: hidden;
}

.messageDetails p.date {
  line-height: normal;
  margin: 0px;
  width: 100%;
  float: left;
  font-size: 80%

}

.seen {
 font-size: 110%;
 color: #613e75;
 line-height: 2;
 width: 100%;
 float: left;
 margin-top: 6px;


}

.iconButton {
  width: 65px;
  height: 65px;
  z-index: 1;
  bottom: 47px;
  right: 32px;
  position: absolute;
}

.writeMessage {
  border: 0px;
  color: white;
  padding: 0px;
  height: 65px;
  width: 65px;
  background-color: #613e75;
  border-radius: 35px;
  box-shadow: -13px 13px 31px -9px rgba(0,0,0,0.37);;
  padding-top: 7px;
  cursor: pointer;
  position: absolute;
  
}

.chatWindow {
  display: none;
}

#conversation {
  cursor: pointer;
}